.post-view {
	.image-header-big {
		overflow: hidden;
		height: 400px;
		img {
			display: block;
			margin: 0 auto;
			width: 100%;
		}
	}
	.post-title {
		h1 {
			margin: 1em 0;
		}
		margin: 0.5em 0;
	}
	.post-content {
		margin: 1em 0;
	}
	.tags {
		margin-bottom: 1em;
		.tag-item {
			font-size: 85%;
			background-color: grey;
			border-radius: 3px;
			padding: 7px;
			color: white;
			text-align: center;
			display: inline-block;
			margin-right: 10px;
		}
	}
	.summary-icon {
		margin-right: 1em;
		display: inline-block;
		font-size: 150%;
	}
}

.response-create {
	margin-top: 2em;
	background-color: #f7f7f7;
	padding: 1em 2em;
}