.home-view {
  z-index: 10;
  display: table;
  width: 100%;
  height: 100vh;

  .content {
    display: table-cell;
    vertical-align: middle;
    .image-circle {
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 200px;
      img {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
    .nav-controller {
      margin-top: 3em;
      .row {
      
        .col-lg-4 {
          text-align: center;
          margin: 1em 0;
          a {
            cursor: pointer;
            color: $nav-default-color;
            text-align: center;
            text-decoration: none;
            .font-block {
              display: block;
              margin: 0 auto;
              font-size: 4em;
            }
          }
        }
      }
    }
  }
}

.contents {
  span.close {
    z-index: 10;
    color: #bdc6c2;
    font-size: 3em;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    &:hover {
      color: #9ca4a0;
    }
  }
  .full-width-content {
    padding: 2em 0;
    position: fixed;
    top: 100vh;
    left: 0;
    overflow: scroll;
    background-color: white;
    color: #2e2e2e;
    z-index: 1200;
    height: 92vh;
    width: 100%;
    transition: top cubic-bezier(0.550, 0.055, 0.675, 0.190) 0.7s;
    .about {
      line-height: 140%;
    }
    &.show {
      top: 60px;
    }
    h1, p, h3 {
      margin: 0;
    }
  }
}

.bg-content-overlay {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: url('/images/bg/home.jpg') no-repeat;
  background-size: cover;
  img {
    display: block;
    width: 100%;
  }
}

.skills {
  span {
    line-height: 150%;
    &.skill-name {
      display: block;
      font-size: 120%;
      float: left;
    }
    &.skill-rating {
      display: block;
      float: right;
      i {
        &.fa {
          color: #cfd8d4;
          &.active {
            color: #d8d736;
          }
        }
      }
    }
  }

}

.works {
  .col-lg-6 {
    margin-bottom: 2em;
    a {
      height: 80px;
      text-decoration: none;
      p {
        padding-top: 1em;
      }
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
.gallery {
  .row  {
    margin-bottom: 1.5em;
    .col-lg-4 {
      .gallery-image {
        height: 150px;
        img {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.contact-section {
  padding: 2em 0;
  p {
    line-height: 150%;
    margin-bottom: 1em!important;
  }
}

form {
  margin: 1em 0;
}

 @media(max-width: 520px) {
  .home-view {
    height: 130vh;
  }  

  nav {
      margin: 0;
      .company-title {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
  }
  .social {
      float: none;
      margin: 0 auto;
      ul {
        text-align: center;
        display: block;
        margin: 0 auto;
      }
  }  
  .content {
    padding-top: 2em;
    &.show{
      top: 145px;
    }
  }

  .contents {
    .full-width-content {
      &.show {
        top: 145px;
      }
    }
  }
}