.login-form {
  .form-wrapper {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #f7f7f7;
    .form {
      padding: 2em;
      .image-logo {
        display: block;
        margin: 0 auto;
        height: 150px;
        width: 150px;
        img{
          width: 100%;
          border-radius: 50%;
          display: block;
        }
      }

    }
  }
}