$list-menu-count: 3;
$nav-default-color : white;

nav {
  z-index: 10;
  margin: 2em 0;
  position: fixed;
  width: 100%;
  top: 2em;
  a {
    color: $nav-default-color;
    h2, p {
      margin: 0;
    }
  }
  ul.menu {
    width: 100%;
    list-style-type: none;
    li {
      display: block;
      float: left;
      width: (100%/$list-menu-count);
      a {
        text-align: center;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    opacity: 0;
    -webkit-transition: opacity ease 0.7s;
    -moz-transition: opacity ease 0.7s;
    -ms-transition: opacity ease 0.7s;
    -o-transition: opacity ease 0.7s;
    transition: opacity ease 0.7s;
    &.show {
      opacity: 1;
    }
  }
  .social {
    margin-top: 5px;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        text-align: left;
        a {
          color: $nav-default-color;
          display: inline-block;
          text-align: center;
          width: 40px;
          height: 40px;
          line-height: 40px;
          border: 1px solid #cfd8d4;
          border-radius: 50%;
          .fa {
            margin-left: 5px;
            vertical-align: middle;
            margin-bottom: 5px;
            font-size: 120%;
          }
        }
      }
    }
  }
  -webkit-transition: top ease 0.7s;
  -moz-transition: top ease 0.7s;
  -ms-transition: top ease 0.7s;
  -o-transition: top ease 0.7s;
  transition: top ease 0.7s;
  &.up {
    top: -28px;
  }
}