
.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: uppercase;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.text-white {
  color: white;
}

a {
  &.company-title {
    text-decoration: none;
  }
}

.title-bordered-bottom {
  margin-top: 1em!important;
  margin-bottom: 0.3em!important;
  border-bottom: 1px solid #bdc6c2;
}

.right-bordered {
  border-right: 1px solid #cfd8d4;
}