<div class="contents">
    <div class="full-width-content fixed" ng-class="{ 'show' : contents.about }">
        <div class="container">
            <span class="close" ng-click="toggleContent('about')">
                <i class="fa fa-close"></i>
            </span>
            <h3 class="text-center">Web Developer</h3>
            <h1 class="text-center text-bold">
                Rizqy Faishal
            </h1>
            <p class="text-center">Make your own!</p>
            <div class="row">
                <div class="col-lg-8 push-lg-2 col-md-10 push-md-1 col-sm-12 col-xs-12">
                    <h1 class="title-bordered-bottom">Hello, </h1>
                    <div class="about">
                        <p>Come and growing from faculty of Computer Science we will become your partner to create your
                            world. Every
                            day we do informal meeting and discuss what must we do to make best service. And every week
                            we sit
                            together in formal meeting to discuss what innovation that will we doing. From that, we can
                            say that we
                            are solid team. So, just tell me to imagine your world and out team will code it into
                            beautiful
                            creation. Trust us, and we will work delightfully. And we can showing big smile when hear
                            you are
                            satisfied with our work.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 push-lg-2 col-md-10 push-md-1 col-sm-12 col-xs-12">
                    <h1 class="title-bordered-bottom">Skills</h1>
                    <div class="skills">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    Java
                                </span>
                                <span class="skill-rating">
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    HTML5 / CSS3
                                </span>
                                <span class="skill-rating">
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    Haskell
                                </span>
                                <span class="skill-rating">
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    Angular.js
                                </span>
                                <span class="skill-rating">
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    React.js
                                </span>
                                <span class="skill-rating">
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    Node.js
                                </span>
                                <span class="skill-rating">
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    PHP
                                </span>
                                <span class="skill-rating">
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    Laravel
                                </span>
                                <span class="skill-rating">
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    Git
                                </span>
                                <span class="skill-rating">
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star active">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                    <i class="fa fa-star">&nbsp;</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 push-lg-2 col-md-10 push-md-1 col-sm-12 col-xs-12">
                    <h1 class="title-bordered-bottom">Experiences</h1>
                    <div class="experiences skills">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    Back-End Developer at Beringin.net
                                 </span>
                                <span class="skill-rating">
                                    January 2016 - Prsent
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                     Staff at FUKI Corp
                                </span>
                                <span class="skill-rating">
                                    January 2016 - Desember 2017
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    Software Engineer Internship at Tripvisto
                                </span>
                                <span class="skill-rating">
                                    January 2016 - February 2017
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span class="skill-name text-bold">
                                    Part Time Front end Developer at Infishta
                                </span>
                                <span class="skill-rating">
                                    January 2016 - February 2017
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 push-lg-2 col-md-10 push-md-1 col-sm-12 col-xs-12">
                    <h1 class="title-bordered-bottom">My Works</h1>
                    <div class="works">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="#" class="work-image">
                                    <img src="images/works/1.JPG"  alt="Works1">
                                    <p class="text-center">Beringin.net</p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <a href="#" class="work-image">
                                    <img src="images/works/2.JPG"  alt="Works2">
                                    <p class="text-center">Retro Adiguna 2016</p>

                                </a>
                            </div>
                            <div class="col-lg-6">
                                <a href="#" class="work-image">
                                    <img src="images/works/3.JPG"  alt="Works3">
                                    <p class="text-center">Klikacara.com 2016</p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <a href="#" class="work-image">
                                    <img src="images/works/4.JPG"  alt="Works4">
                                    <p class="text-center">FHUI Guide</p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <a href="#" class="work-image">
                                    <img src="images/works/5.JPG"  alt="Works5">
                                    <p class="text-center">EIS Society FEB UI</p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <a href="#" class="work-image">
                                    <img src="images/works/6.JPG"  alt="Works6">
                                    <p class="text-center">Umrohzone</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 push-lg-2 col-md-10 push-md-1 col-sm-12 col-xs-12">
                    <h1 class="title-bordered-bottom">Gallery of my life</h1>
                    <div class="gallery">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="gallery-image">
                                    <img src="images/gallery/1.jpg" alt="Gallery 1">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="gallery-image">
                                    <img src="images/gallery/2.jpg" alt="Gallery 2">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="gallery-image">
                                    <img src="images/gallery/3.jpg" alt="Gallery 3">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="gallery-image">
                                    <img src="images/gallery/1.jpg" alt="Gallery 1">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="gallery-image">
                                    <img src="images/gallery/2.jpg" alt="Gallery 2">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="gallery-image">
                                    <img src="images/gallery/3.jpg" alt="Gallery 3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-width-content fixed" ng-class="{ 'show' : contents.contact }">
        <div class="container ">
         <span class="close" ng-click="toggleContent('contact')">
                <i class="fa fa-close"></i>
            </span>
            <div class="row">
                <div class="col-lg-10 push-lg-1 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="text-center">Get Me In Touch</h1>
                    <div class="row contact-section">
                        <div class="col-lg-6">
                            <div class="contact-form">
                                <p>Come and growing from faculty of Computer Science we will become your partner to
                                    create your world. </p>
                                <form action="">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="name">Your Name</label>
                                            <input type="text" placeholder="Your Name"
                                                   id="name" name="name" ng-model="message.name">
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="email">Your Email</label>
                                            <input type="text" id="email" placeholder="Your Email"
                                                   name="email" ng-model="message.email">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label for="messages">Your Messages</label>
                                            <textarea id="messages"
                                                       name="messages"
                                                       ng-model="message.messages"
                                                       placeholder="Your Messages" ></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button class="right green">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact">
                                <h3>Pala Student House</h3>
                                <p>Jalan Pala No. 4b, Beji Timur, Beji, Depok 16424</p>
                                <p><i class="fa fa-phone">&nbsp;</i>0856-XXXX-XXXX</p>
                            </div>
                            <div class="maps">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.1294174382388!2d106.82457011392104!3d-6.377290064153667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ec065f6a229d%3A0x8f206e4b2b6a35ab!2sPala+Student+House!5e0!3m2!1sid!2sid!4v1486755711557"
                                        width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-width-content fixed" ng-class="{ 'show' : contents.blog }">
        <div class="container">
             <span class="close" ng-click="toggleContent('blog')">
                <i class="fa fa-close"></i>
            </span>
            <ui-view></ui-view>
        </div>
    </div>

</div>

<nav class="nav-fixed" ng-class="{ 'up' : contents.about || contents.contact || contents.blog }">
    <div class="container">
       <div class="row">
           <div class="col-lg-10 push-lg-1 col-md-10 push-md-1 col-sm-12 col-xs-12f">
               <div class="row">
                   <div class="col-lg-3">
                       <a href="/" class="company-title">
                           <h2 class="text-capitalize">Rizqy Faishal</h2>
                           <p class="text-italic">Web Developer</p>
                       </a>
                   </div>
                   <div class="col-lg-6" ng-show="navigation.showMenu">
                       <ul class="menu" ng-class="{ 'show' : contents.about || contents.contact || contents.blog}">
                           <li><a ng-click="toggleContent('about')">About</a></li>
                           <li><a ng-click="toggleContent('contact')">Contact</a></li>
                           <li><a ng-click="toggleContent('blog')">Blog</a></li>
                       </ul>
                   </div>
                   <div class="col-lg-3">
                       <div class="social">
                           <ul>
                               <li><a href="#" class="circle"><i class="fa fa-facebook">&nbsp;</i></a></li>
                               <li><a href="#" class="circle"><i class="fa fa-twitter">&nbsp;</i></a></li>
                               <li><a href="#" class="circle"><i class="fa fa-linkedin">&nbsp;</i></a></li>
                               <li><a href="#" class="circle"><i class="fa fa-github">&nbsp;</i></a></li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</nav>
<div class="home-view">
    <div class="content">
        <div class="image-circle">
            <img src="/images/me.jpg" alt="Me">
        </div>
        <div class="nav-controller">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 push-lg-3 col-md-8 push-md-2 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <a ng-click="toggleContent('about')">
                                            <span class="font-block">
                                                <i class="fa fa-user-circle-o"></i>
                                            </span>
                                            <span class="text-center">About Me</span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <a ng-click="toggleContent('contact')">
                                            <span class="font-block">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <span class="text-center">Contact</span>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <a ng-click="toggleContent('blog')">
                                            <span class="font-block">
                                                <i class="fa fa-pencil"></i>
                                            </span>
                                            <span class="text-center">Blog</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-content-overlay">
    <!-- <img src="/images/bg/home.jpg" alt="Home"> -->
</div>

