<div class="home-view">
    <div class="content">
        <div class="login-form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 push-4 form-wrapper">
                        <div class="form">
                            <div class="image-logo">
                                <img src="/images/me.jpg" alt="Logo">
                            </div>
                            <h2 class="text-center">Rizqy Faishal</h2>
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="text" ng-model="user.username"
                                            placeholder="Username"
                                            name="username"
                                            id="username">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="password" ng-model="user.password"
                                               placeholder="Your Password"
                                               name="password"
                                               id="password">
                                    </div>
                                    <div class="col-lg-12">
                                        <button class="green center-block" ng-click="login(user)">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>