// Bootstrap Grid only

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway';
}

@import "module/custom";
@import "module/variables";

@import "mixins/breakpoints";
@import "mixins/grid-framework";
@import "mixins/grid";

@import "module/grid";
@import "module/flex";
@import "module/input";
@import "module/button";
@import "module/box-shadow";
@import "module/table";
@import "module/font-awesome";
@import "module/utility";
@import "module/nav";
@import "module/home-view";
@import "module/login";
@import "module/dashboard";
@import "module/loading-bar";
@import "module/blog"
